---
layout: layout.liquid
title: Page Not Found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="rev grid-top page-404">
    <div class="err-code">404</div>
    <h1>Lost in the Machine?</h1>
    <p class="subhead">The logic path you followed doesn't exist. Let's get you back to the core data.</p>
    
    <div class="actions">
        <a href="{{ '/' | url }}" class="btn btn-acc">Return Home</a>
        <a href="{{ '/case-studies' | url }}" class="btn">View Portfolio</a>
    </div>
</div>
