---
layout: layout.liquid
title: Privacy Policy
description: Privacy Policy for Akshat Singh's Content Portfolio. Detailed information on how we handle user data and analytics.
---

<div class="py-1 mb-1">
  <h1 class="c-title-md">Privacy Policy</h1>
  <p class="op-7">Last Updated: April 2026</p>
</div>

<article class="container-narrow">
  <p class="c-desc-md">Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from you across our website, <a href="{{ '/' | url }}">Akshat Singh | Content Portfolio</a>.</p>

  <h2 class="c-title mt-1">1. Information We Collect</h2>
  <p class="c-desc-md">We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>

  <h2 class="c-title mt-1">2. Usage Data & Analytics</h2>
  <p class="c-desc-md">We use tools like Google Analytics and Microsoft Clarity to understand how visitors interact with our website to improve the user experience. These tools may collect data such as your IP address, browser type, and operating system, as well as tracking user behavior on the site (e.g. clicks and reading time).</p>
  
  <h2 class="c-title mt-1">3. Cookies</h2>
  <p class="c-desc-md">We use "cookies" to collect information about you and your activity across our site. A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit, so we can understand how you use our site. This helps us serve you content based on preferences you have specified.</p>

  <h2 class="c-title mt-1">4. Contact Us</h2>
  <p class="c-desc-md">If you have any questions about how we handle user data and personal information, feel free to contact us at <a href="mailto:akshatsingh666@gmail.com">akshatsingh666@gmail.com</a>.</p>
</article>
